* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #183D3D;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 40px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.product h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.product p.price {
    font-size: 1rem;
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}

.product p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

button {
    background-color: #183D3D;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(48, 48, 240);
}

footer {
    background-color: #183D3D;
    color: white;
    text-align: center;
    padding: 20px;
}

footer span {
    color: red;
}